:root {
  --obsidian-main-color: #000;
  --obsidian-button-glow: #ffffff90;
}

/* Context menu buttons */
.basiccontextmenu_contextMenuItem_3PqLg {
  display: flex;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
  padding: 14px;
  background: var(--obsidian-main-color);
  color: #b8bcbf;
  align-items: center
}
.basiccontextmenu_contextMenuItem_3PqLg.Stream, .basiccontextmenu_contextMenuItem_3PqLg.Connect, .basiccontextmenu_contextMenuItem_3PqLg.Launch, .basiccontextmenu_contextMenuItem_3PqLg.PlayMusic, .basiccontextmenu_contextMenuItem_3PqLg.Play, .basiccontextmenu_contextMenuItem_3PqLg.Resume, .basiccontextmenu_contextMenuItem_3PqLg.BorrowApp, .basiccontextmenu_contextMenuItem_3PqLg.Download, .basiccontextmenu_contextMenuItem_3PqLg.Update, .basiccontextmenu_contextMenuItem_3PqLg.PreLoad, .basiccontextmenu_contextMenuItem_3PqLg.Install, .basiccontextmenu_contextMenuItem_3PqLg.Pause, .basiccontextmenu_contextMenuItem_3PqLg.Stop, .basiccontextmenu_contextMenuItem_3PqLg.Cancel {
  background: var(--obsidian-main-color);
  color: #dcdedf;
  text-transform: none;
  letter-spacing: 0px
}

/* Context menu buttons (Updated) */
.gamepadcontextmenu_contextMenuItem_1sdvo{
  display:flex;
  line-height:20px;
  position:relative;
  cursor:pointer;
  width:100%;
  min-width:280px;
  box-sizing:border-box;
  padding:14px;
  background: var(--obsidian-main-color);
  color:#b8bcbf;
  align-items:center
}
.gamepadcontextmenu_contextMenuItem_1sdvo.Stream,.gamepadcontextmenu_contextMenuItem_1sdvo.Connect,.gamepadcontextmenu_contextMenuItem_1sdvo.Launch,.gamepadcontextmenu_contextMenuItem_1sdvo.PlayMusic,.gamepadcontextmenu_contextMenuItem_1sdvo.Play,.gamepadcontextmenu_contextMenuItem_1sdvo.Resume,.gamepadcontextmenu_contextMenuItem_1sdvo.BorrowApp,.gamepadcontextmenu_contextMenuItem_1sdvo.Download,.gamepadcontextmenu_contextMenuItem_1sdvo.Update,.gamepadcontextmenu_contextMenuItem_1sdvo.PreLoad,.gamepadcontextmenu_contextMenuItem_1sdvo.Install,.gamepadcontextmenu_contextMenuItem_1sdvo.Pause,.gamepadcontextmenu_contextMenuItem_1sdvo.Stop,.gamepadcontextmenu_contextMenuItem_1sdvo.Cancel{
  background: var(--obsidian-main-color);
  color:#dcdedf;
  text-transform:none;
  letter-spacing:0px
}

/* Sound bar */
.audio_VolumePopin_2iUUM {
  background: var(--obsidian-main-color);
}
.gamepadslider_SliderTrack_Mq25N {
  background: #23262e;
}

/* Notification */
.notificationcontent_ShortTemplate_2w-Eq, .notificationcontent_PinnedTemplate_H_NPi, .notificationcontent_StandardTemplate_1B_uv, .notificationcontent_ShortTemplate_nwer8, .notificationcontent_StandardTemplate_5HZT7, .notificationcontent_PinnedTemplateDesktop_1-8YO, .notificationcontent_PinnedTemplate_1X-O1 {
  background: var(--obsidian-main-color) !important;
}

.gamepadtabbedpage_TabContents_WDa0_ {
  background: var(--obsidian-main-color) !important;
}

.scrollpanel_ScrollPanel_1CXdi, .scrollpanel_ScrollY_313lB,.BasicUI .DialogContent_InnerWidth>.scrollpanel_ScrollY_313lB,.scrollpanel_ScrollBoth_3S2Ko,.BasicUI .DialogContent_InnerWidth>.scrollpanel_ScrollBoth_3S2Ko, .scrollpanel_ScrollX_1oRGo,.BasicUI .DialogContent_InnerWidth>.scrollpanel_ScrollX_1oRGo,.scrollpanel_ScrollBoth_3S2Ko,.BasicUI .DialogContent_InnerWidth>.scrollpanel_ScrollBoth_3S2Ko {
  background: var(--obsidian-main-color) !important;
}

.loadingthrobber_Container_3sa1N, .loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa {
  background: var(--obsidian-main-color) !important;
}

.overlappingtransition_TransitionGroup_11Twu, .overlappingtransition_ContentWrapper_1knAs, .gamepadtabbedpage_ContentTransition_L_ehQ, .gamepadtabbedpage_Enter_11zfc, .gamepadtabbedpage_EnterActive_3lqCS, .gamepadtabbedpage_Left_3lSTy {
  background: var(--obsidian-main-color) !important;
}
