:root {
  --obsidian-main-color: #000;
  --obsidian-button-glow: #ffffff90;
}

/* Context menu buttons */
.basiccontextmenu_contextMenuItem_3PqLg {
  display: flex;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
  padding: 14px;
  background: var(--obsidian-main-color);
  color: #b8bcbf;
  align-items: center
}
.basiccontextmenu_contextMenuItem_3PqLg.Stream, .basiccontextmenu_contextMenuItem_3PqLg.Connect, .basiccontextmenu_contextMenuItem_3PqLg.Launch, .basiccontextmenu_contextMenuItem_3PqLg.PlayMusic, .basiccontextmenu_contextMenuItem_3PqLg.Play, .basiccontextmenu_contextMenuItem_3PqLg.Resume, .basiccontextmenu_contextMenuItem_3PqLg.BorrowApp, .basiccontextmenu_contextMenuItem_3PqLg.Download, .basiccontextmenu_contextMenuItem_3PqLg.Update, .basiccontextmenu_contextMenuItem_3PqLg.PreLoad, .basiccontextmenu_contextMenuItem_3PqLg.Install, .basiccontextmenu_contextMenuItem_3PqLg.Pause, .basiccontextmenu_contextMenuItem_3PqLg.Stop, .basiccontextmenu_contextMenuItem_3PqLg.Cancel {
  background: var(--obsidian-main-color);
  color: #dcdedf;
  text-transform: none;
  letter-spacing: 0px
}

/* Sound bar */
.audio_VolumePopin_2iUUM {
  background: var(--obsidian-main-color);
}
.gamepadslider_SliderTrack_Mq25N {
  background: #23262e;
}

/* Notification */
.notificationcontent_ShortTemplate_2w-Eq, .notificationcontent_PinnedTemplate_H_NPi, .notificationcontent_StandardTemplate_1B_uv, .notificationcontent_ShortTemplate_nwer8, .notificationcontent_StandardTemplate_5HZT7, .notificationcontent_PinnedTemplateDesktop_1-8YO, .notificationcontent_PinnedTemplate_1X-O1 {
  background: var(--obsidian-main-color) !important;
}
